header {
    margin-bottom: 5%;
    padding: auto;
    text-decoration-line:underline;
}
li{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
span {
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
button {
    margin-left: 10px;
}